/* styles.css */

/* Header */
.header {
    
    color: #fff;
    padding: 10px;
    font-family: jokerman;
    text-shadow: 1px 2px 5px red;
  }
  
  /* Table */
  table {
    /* border-collapse: collapse; */
    
    border-color: aqua;
    width: 100%;
    text-shadow: 1px 2px 5px red;
  }

  #heading{
    color: hsl(60, 100%, 50%,.7);
  }
  
  table th {
    padding-left: 15rem;
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    color: rgb(229, 142, 43);
    text-align: left;
    text-shadow: 1px 1px 3px pink;
  }
  table td {
    padding: auto;
    font-size: larger;
    font-weight: 700;
    color: hsl(0, 0%, 100%,0.8);
    width: 60%;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 1px 2px 5px red;
  }
  
  /* table th {
    background-color: #f2f2f2;
    font-weight: bold;
  } */
  
  /* table tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* table tr:hover {
    background-color: #ddd;
  }
   */
  /* Links */
  a {
    color: #333;
    text-decoration: none;
    color: hsl(0, 0%, 100%,.8);
    font-size: larger;
    font-weight: bolder;
  }

  #loginId{
    color: aqua;
  }
  
  a:hover {
    text-decoration: underline;
    font-size: larger;
    color: white;
    font-weight: bolder;
  }
  